.header {
  /* position: absolute;
  top: 0;
  left: 0; */
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 0;
  width: 100%;
  /* background-color: #353644; */
  background: rgb(53, 54, 68);
  background: linear-gradient(
    83deg,
    rgba(53, 54, 68, 1) 47%,
    rgb(112, 108, 109) 75%
  );

  clip-path: polygon(0 0, 100% 0, 100% 66%, 82% 100%, 51% 74%, 0 100%);
}

.logo img {
  cursor: pointer;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.button {
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 1.7rem;
  font-family: "Source Code Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  color: #c3c6c7;
  cursor: pointer;
  transition: all 0.3s;
}

.button:hover {
  border: 1px solid #a4969b;
  border-radius: 0.4rem;
  color: #f3f4f4;
}

@media (max-width: 37em) {
  .buttons {
    flex-direction: column;
    gap: 0.2rem;
  }
}

@media (max-width: 25em) {
  .header {
    clip-path: none;
  }
}
